{% include 'music_app/base.html' %}
{% load static %}

{% block content %}

    <div class="container music-container">
        {% for song in songs %}
        <div class="row row-song" style="margin-top: 20px;">
            <div class="col-md-5">
                {% if song.imageURL %}
                <img src="{{ song.imageURL }}" alt="" class="song-image">
                {% endif %}
            </div>
            <div class="col-md-7">
                <h2><strong>{{song.title}}</strong></h2>
                <h5><strong>Artist: {{song.artist}}</strong></h5>
                <div class="audio-playlist">
                    <audio controls>
                        <source src="{{ song.audioURL }}" type="audio/mpeg">
                    </audio>
                    <button class="btn btn-outline-success" onclick="addToPlaylist('{{ song.id }}')">+ playlist</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>

        function addToPlaylist(songId) {
            var csrftoken = getCookie('csrftoken')
            $.ajax({
                url: '/add-to-playlist/' + songId + '/',
                type: 'POST',
                headers: {
                    'Content-Type': "application/json",
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    alert(response.message)
                    window.location.reload()
                },
                error: function(error) {
                    alert('Error', error)
                },
            })
        }

    </script>

{% endblock %}