.music-container {
    margin-top: 30px;
    margin-bottom: 3%;
}

.song-image {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.audio-playlist {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.audio-playlist button {
    border-radius: 20px;
}

.row-song {
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;;
    border-radius: 20px;
    margin-top: 20px;
    padding: 8px;
}
